<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <!--
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    -->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/akka.log</file>
        <append>false</append>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="WARN" />
    <logger name="fr.dailybrain" level="INFO" />

    <root level="INFO">
        <!--<appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="FILE"/>
    </root>

</configuration>